@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link{
    @apply hover:underline cursor-pointer;
  }
  .btn{
    @apply bg-[#f8f9fa] p-2 md:px-5 md:py-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none focus:ring-blue-500 hover:shadow-sm;
  }
}
